<div class="min-h-screen h-full flex bg-background w-full">
  <aside
    class="bg-dark-100 w-7/12 sm:w-2/12 min-h-full lg:block rounded-r-3xl fixed sm:static z-30"
    [ngClass]="{
      hidden: !menu
    }"
  >
    <div
      class="flex w-full items-cente justify-center h-36 py-12 2xl:px-24 xl:px-16 lg:px-8 mb-4"
    >
      <img src="assets/logo.svg" alt="Logo eFront" />
    </div>
    <nav class="w-full 2xl:px-16 xl:px-6 lg:px-0">
      <div
        class="flex gap-4 text-primary font-medium bg-primary bg-opacity-5 hover:bg-opacity-15 cursor-pointer select-none p-4 text-lg rounded-md mb-4"
      >
        <i data-feather="grid"></i>
        <p>Dashboard</p>
      </div>
      <div
        class="flex gap-4 hover:bg-sysGray font-medium cursor-pointer select-none p-4 text-lg rounded-md mb-4"
      >
        <i data-feather="airplay" class="rotate-180"></i>
        <p>Carteira</p>
      </div>
      <div
        class="flex gap-4 hover:bg-sysGray font-medium cursor-pointer select-none p-4 text-lg rounded-md mb-4"
      >
        <i data-feather="shopping-cart"></i>
        <p>Transações</p>
      </div>
      <div
        class="flex gap-4 hover:bg-sysGray font-medium cursor-pointer select-none p-4 text-lg rounded-md mb-4"
      >
        <i data-feather="users"></i>
        <p>Suporte</p>
      </div>
      <div class="flex bg-background my-8 w-60 -ml-8 h-0.5"></div>
      <div
        class="flex gap-4 hover:bg-sysGray font-medium cursor-pointer select-none p-4 text-lg rounded-md mb-4"
      >
        <i data-feather="settings"></i>
        <p>Ajustes</p>
      </div>
      <div
        class="flex gap-4 text-sysRed bg-sysRed bg-opacity-5 font-medium cursor-pointer select-none p-4 text-lg rounded-md"
      >
        <i data-feather="power"></i>
        <p>Desconectar</p>
      </div>
    </nav>
  </aside>
  <main
    class="bg-background h-full w-full lg:w-10/12 pt-4 sm:pt-8 pb-4 px-4 select-none 2xl:pl-48 2xl:pr-56 xl:pl-36 xl:pr-44 lg:pl-20 lg:pr-28 md:pl-12 md:pr-20"
  >
    <header
      class="flex flex-col-reverse sm:flex-row justify-between w-full gap-10"
    >
      <div class="title">
        <h1 class="text-2xl font-medium">Olá, Matheus</h1>
        <p class="font-medium text-lg text-[#6a6969]">
          Aqui estão as informações sobre suas vendas.
        </p>
      </div>
      <div class="flex justify-center items-center justify-between ">
        <div class="sm:hidden z-40 fixed" (click)="toggleMenu()"
        [ngClass]="{
          'hidden': !menu
        }">
          <i data-feather="x"></i>
        </div>
        <div
          class="sm:hidden z-40"
          (click)="toggleMenu()"
          [ngClass]="{
            'opacity-0': menu
          }"
        >
          <i data-feather="menu"></i>
        </div>
        <div class="flex justify-center items-center">
          <div class="relative flex gap-8 mr-12">
            <i data-feather="search" class="cursor-pointer"></i>
            <i data-feather="bell" class="cursor-pointer"></i>
            <div
              class="w-1.5 h-1.5 bg-primary absolute top-0 -right-1 rounded-full"
            ></div>
          </div>
          <div class="flex items-center gap-4 cursor-pointer">
            <img
              src="assets/avatar.jpg"
              alt="Avatar"
              class="w-10 h-10 rounded-full"
            />
            <div class="flex flex-col">
              <h2 class="font-medium text-lg hidden md:flex">Matheus</h2>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div
      class="grid max-w-full grid-cols-1 gap-y-10 gap-x-8 mt-8 sm:grid-cols-4"
    >
      <div class="bg-dark-100 col-span-1 pt-6 pb-2 rounded-xl sm:col-span-2">
        <p class="px-8 font-medium text-xl">Gráfico de receitas</p>
        <div class="w-full -mt-4 pr-8 h-64 lg:max-h-72">
          <canvas #receita></canvas>
        </div>
      </div>

      <div class="bg-dark-100 col-span-1 py-6 px-8 rounded-xl sm:col-span-2">
        <p class="font-medium text-xl">Histórico de transações</p>
        <div class="flex gap-4 flex-col my-6">
          <div
            class="flex justify-between text-primary bg-primary bg-opacity-5 p-3 pr-6 font-medium rounded-md"
          >
            <p>Ontem</p>
            <p class="text-lg font-semibold">
              {{ -540.32 | currency : "BRL" }}
            </p>
          </div>
          <div
            class="flex justify-between text-primary bg-primary bg-opacity-5 p-3 pr-6 font-medium rounded-md"
          >
            <p>Quinta-Feira</p>
            <p class="text-lg font-semibold">{{ -273.9 | currency : "BRL" }}</p>
          </div>
          <div
            class="flex justify-between text-primary bg-primary bg-opacity-5 p-3 pr-6 font-medium rounded-md"
          >
            <p>Segunda-Feira</p>
            <p class="text-lg font-semibold">
              {{ -1456.32 | currency : "BRL" }}
            </p>
          </div>
        </div>
      </div>

      <div
        class="bg-dark-100 p-5 rounded-xl -mb-4 sm:mb-0 sm:col-span-2 md:col-span-1"
      >
        <p class="font-medium">Total de vendas</p>
        <h1 class="my-3 font-semibold text-2xl">
          {{ 3265.21 | currency : "BRL" }}
        </h1>
        <div
          class="flex align-middle bg-sysGreen text-sysGreen bg-opacity-5 font-semibold text-sm rounded-xl px-3 py-1 w-fit"
        >
          <i class="p-0.5 mr-0.5" data-feather="trending-up"></i>
          + 11%
        </div>
      </div>
      <div
        class="bg-dark-100 p-5 rounded-xl -mb-4 sm:mb-0 sm:col-span-2 md:col-span-1"
      >
        <p class="font-medium">Total líquido</p>
        <h1 class="my-3 font-semibold text-2xl">
          {{ 2825.58 | currency : "BRL" }}
        </h1>
        <div
          class="flex align-middle bg-sysGreen text-sysGreen bg-opacity-5 font-semibold text-sm rounded-xl px-3 py-1 w-fit"
        >
          <i class="p-0.5 mr-0.5" data-feather="trending-up"></i>
          + 15%
        </div>
      </div>
      <div
        class="bg-dark-100 p-5 rounded-xl -mb-4 sm:mb-0 sm:col-span-2 md:col-span-1"
      >
        <p class="font-medium">Compras canceladas</p>
        <h1 class="my-3 font-semibold text-2xl">
          {{ 130 | currency : "BRL" }}
        </h1>
        <div
          class="flex align-middle bg-sysRed text-sysRed bg-opacity-5 font-semibold text-sm rounded-xl px-3 py-1 w-fit"
        >
          <i class="p-0.5 mr-0.5" data-feather="trending-down"></i>
          -80%
        </div>
      </div>
      <div class="bg-dark-100 p-5 rounded-xl sm:col-span-2 md:col-span-1">
        <p class="font-medium">Reembolsos</p>
        <h1 class="my-3 font-semibold text-2xl">
          {{ 345 | currency : "BRL" }}
        </h1>
        <div
          class="flex align-middle bg-sysRed text-sysRed bg-opacity-5 font-semibold text-sm rounded-xl px-3 py-1 w-fit"
        >
          <i class="p-0.5 mr-0.5" data-feather="trending-down"></i>
          -78%
        </div>
      </div>
      <div
        class="bg-dark-100 p-8 pb-6 rounded-2xl sm:col-span-4 overflow-x-auto"
      >
        <h1 class="font-medium text-xl">Histórico de compradores</h1>
        <table class="w-full mt-6">
          <thead>
            <tr class="[&_th]:text-left [&_th]:font-medium [&_th]:pr-28">
              <th>ID</th>
              <th>Data</th>
              <th>Nome</th>
              <th>Localização</th>
              <th>Valor</th>
              <th>Situação</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="border-2 border-dark-100 border-b-dark-200 [&_td]:py-6 [&_td]:font-medium [&_td]:text-sm text-[#6a6969]"
            >
              <td>#12345</td>
              <td>02/08/2023</td>
              <td>Roberto Santos</td>
              <td>Porto Alegre, RS</td>
              <td>{{ 15 | currency : "BRL" }}</td>
              <td class="flex items-center">
                <div class="w-2.5 h-2.5 bg-sysGreen rounded-full"></div>
                <p class="ml-2">Aprovado</p>
              </td>
            </tr>
            <tr
              class="border-2 border-dark-100 border-b-dark-200 [&_td]:py-6 [&_td]:font-medium [&_td]:text-sm text-[#6a6969]"
            >
              <td>#67890</td>
              <td>03/08/2023</td>
              <td>Beatriz Rodrigues</td>
              <td>Salvador, BA</td>
              <td>{{ 15 | currency : "BRL" }}</td>
              <td class="flex items-center">
                <div class="w-2.5 h-2.5 bg-sysYellow rounded-full"></div>
                <p class="ml-2">Em análise</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
